

<h1><%= @cocktail.name %></h1>
<div>
  <ul><span>Ingredient List</span>
    <% @cocktail.doses.each do |dose| %>
    <li><%= dose.ingredient.name %> - <%= dose.description %></li>
    <% end %>
  </ul>
</div>

<p>Add an ingredient to <%= @cocktail.name %></p>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient, input_html: { class: 'select2' }%>
  <%= f.input :description %>
  <%= f.submit "add a dose",class: "btn btn-primary" %>
<% end %>

<p>Add an review to <%= @cocktail.name %></p>
<%= simple_form_for [@cocktail, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, collection: Review::RATING %>
  <%= f.submit "add a dose",class: "btn btn-primary" %>
<% end %>



