<% if @cocktail.photo.present? %>
<div style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @cocktail.photo, crop: :fill %>')">
  <% end %>
  <h1><%= @cocktail.name %></h1>

  <div class="col-2">
    <ul><span>Ingredient List</span>
      <% @cocktail.doses.each do |dose| %>
      <li><%= dose.ingredient.name %> - <%= dose.description %></li>
      <% end %>
    </ul>

  </div>
  <div class="col-3" >
    <div>
      <p>Add an ingredient to <%= @cocktail.name %></p>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.association :ingredient, input_html: { class: 'select2' }%>
      <%= f.input :description %>
      <%= f.submit "add a dose",class: "btn btn-primary" %>
      <% end %>
    </div>
    <div>
      <p>Add an review to <%= @cocktail.name %></p>
      <%= simple_form_for [@cocktail, @review] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating, collection: Review::RATING %>
      <%= f.submit "add a review",class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>


